main {
  margin-left:16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  
  @media screen and (min-width: 768px) {
  margin-left: 20px;
  max-width: 1920px;
  }
  @media screen and (min-width:992px) {
    margin-left:40px;
  }
  @media screen and (min-width: 1200px) {
    margin-left:60px;
  }
  @media screen and (min-width: 1400px) {
    margin-left:80px;
  }
  @media screen and (min-width: 2020px) {
    margin-left:160px;
  }
}
.ourprojects{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  width: 100%;
  
  @media screen and (min-width: 992px) {
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    width:930px;
    padding-right: 10px;
  }
  @media screen and (min-width: 1200px) {
    width: 850px;
    padding-right: 10px;
  }
  @media screen and (min-width: 1206px) {
    width: 1130px;
    padding-right: 10px;
  }
  @media screen and (min-width: 1400px) {
    width: 1210px;
    padding-right: 10px;
  }
  @media screen and (min-width: 1600px) {
    width: 1410px;
    padding-right: 10px;
  }
  @media screen and (min-width: 2020px) {
    width: 1590px;
    padding-right: 10px;
  }
}
.ourprojects-h{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  @media screen and (min-width: 992px) {
    align-items: self-start;
    width: 450px;
    margin-left: 10px;
  }
}
.ourprojects-h1{
  width: 234px;
  height: 36px;
  margin-top: 19px;
  margin-left:0;
  padding: 0;
  color: var(--Black, #141414);
  font-family: Avenir Next Georgian;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; 
 }
.ourprojects-h2 {
  
  width: 343px;
  color: rgba(20, 20, 20, 0.60);
  font-family: Avenir Next Georgian;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  @media screen and (min-width: 1200px) {
    width: 400px;
  }
  @media screen and (min-width: 1400px) {
    width: 670px;
  }
}

.buttons{
  height: 40px;
  margin-top: 20px;
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px;
  @media screen and (min-width: 768px) {
    gap: 12px;
  }
 button{
    color: var(--White, #FFF);
    padding: 9.5px 28px;
    border-radius: 100px;
    background: rgba(20, 20, 20, 0.30);
    border: none;
    font-family: Avenir Next Georgian;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      display: flex;
      padding: 13.5px 28px;
      align-items: flex-start;
      
      gap: 10px;
    }
  }
}
.projects-gallery{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  @media screen and (min-width: 850px) {
    gap: 10px;
  }
  
  
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    max-width: 1920px;
  }
  @media screen and (min-width: 1860px) {
    width:1600px;
  }
 img {
  
  width: 343px;
  height: 218px;
  flex-shrink: 0;
  @media screen and (min-width: 768px) {
    width: 300px;
    height: 244px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 244px;
  }
  @media screen and (min-width: 1400px) {
    width: 290px;
    height: 244px;
  }
  @media screen and (min-width: 1600px) {
    width: 340px;
    height: 244px;
  }
  @media screen and (min-width: 2020px) {
    width: 385px;
    height: 244px;
  }
 }
 .image-container{
  width: 305;
  @media screen and (min-width: 1200px) {
    width: 275px;
  }
  @media screen and (min-width: 1400px) {
    width: 295px;
  }
  @media screen and (min-width: 1600px) {
    width: 345px;
  }
  @media screen and (min-width: 2020px) {
    width: 390px;
  }
  
 }
 .title {
  width: 119px;
  height: 21px;
  margin-top: 12px;
  color: var(--Orange, #F58634);
  font-family: Avenir Next Georgian;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; 
  @media screen and (min-width: 768px) {
    
    height: 21px;
  }
 }
 .subtitle{
  width: 204px;
  height: 24px;
  color: var(--Black, #141414);
  font-family: Avenir Next Georgian;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; 
  @media screen and (min-width: 768px) {
    width: 255px;
    height: 30px;
    font-size: 20px;
  }
 }
}




















































